<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="position: fixed; left -100px; top: -100px;"><h1>Online Mail</h1></div>
    <center>
        <h3>View the Sale List</h3>
    {% if login %}
        <form method="Post" action="/index">
            {% csrf_token %}
            <input type="hidden" value="{{login}}" name="login">
            <input type="hidden" value="" name="name">
            <input type="submit" value="Go Index" name="Submit">
        </form>
    {% else %}
        <form method="Post" action="/index">
            {% csrf_token %}
            <input type="hidden" value="{{login}}" name="login">
            <input type="hidden" value="" name="name">
            <input type="submit" value="Go Index" name="Submit">
        </form>
    {% endif %}
        {% if weekGoods %}
        <h4>Goods Last Week</h4>
            <table border="1px">
                <tr>
                    <td>Good ID</td>
                    <td>Sales</td>
                </tr>
                {% for item in weekGoods %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.number}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if MonthGoods %}
        <h4>Goods Last Month</h4>
            <table border="1px">
                <tr>
                    <td>Good ID</td>
                    <td>Sales</td>
                </tr>
                {% for item in MonthGoods %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.number}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if weekTypes %}
        <h4>Types Last Week</h4>
            <table border="1px">
                <tr>
                    <td>Type</td>
                    <td>Sales</td>
                </tr>
                {% for item in weekTypes %}
                    <tr>
                        <td>{{item.type}}</td>
                        <td>{{item.number}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if MonthTypes %}
        <h4>Types Last Month</h4>
            <table border="1px">
                <tr>
                    <td>Type</td>
                    <td>Sales</td>
                </tr>
                {% for item in MonthTypes %}
                    <tr>
                        <td>{{item.type}}</td>
                        <td>{{item.number}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if top %}
        {{top}}
        <h4>Goods Top 3</h4>
            <table border="1px">
                <tr>
                    <td>Good ID</td>
                    <td>Sales</td>
                </tr>
                {% for item in top %}
                    <tr>
                        <td>{{item.order_detial_goods_id}}</td>
                        <td>{{item.count}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if unsold %}
        <h4>Goods Bottom 3</h4>
        <table border="1px">
                <tr>
                    <td>Good ID</td>
                    <td>Sales</td>
                </tr>
            {% if bottom %}
            {% for item in bottom %}
                <tr>
                    <td>{{item.order_detial_goods_id}}</td>
                    <td>{{item.count}}</td>
                </tr>
            {% endfor %}
            {% endif %}
            {% for item in unsold %}
                <tr>
                    <td>{{item.goods_id}}</td>
                    <td>0</td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
    </center>
</body>
</html>