<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    {% if login %}
        {% if empty %}
            <center>
                <h3>{{empty}}</h3>
                <form method="Post" action="/index">
                    {% csrf_token %}
                    <input type="hidden" value="{{login}}" name="login">
                    <input type="hidden" value="" name="name">
                    <input type="submit" value="Go Index" name="Submit">
                </form>
            </center>
        {% else %}
        <center>
            <h3>Your Order</h3>
            <form method="Post" action="/index">
                {% csrf_token %}
                <input type="hidden" value="{{login}}" name="login">
                <input type="hidden" value="" name="name">
                <input type="submit" value="Go Index" name="Submit">
            </form>
            <table border="1px">
                <tr>
                    <td>Order ID</td>
                    <td>Order Status</td>
                    <td>Operation</td>
                    <td>Time</td>
                </tr>
                {% for item in order%}
                    <tr>
                        <td>
                            {{item.Customer_Order_ID}}
                        </td>

                            {% if item.Customer_Order_Status == 'F' %}
                            <td>Finished</td>
                            <td>
                            <form method="Post" action="/order_manage">
                                {% csrf_token %}
                                <input type="hidden" value="{{login}}" name="login">
                                <input type="hidden" value="{{item.Customer_Order_ID}}" name="order">
                                <input type="hidden" value="F" name="status">
                                <input type="submit" value="Detail" name="orderOperations">
                                <input type="submit" value="Back" name="orderOperations">
                                <input type="submit" value="Exchange" name="orderOperations">
                            </form>
                            </td>
                            {% endif %}
                            {% if item.Customer_Order_Status == 'D' %}
                            <td>Draft</td>
                            <td>
                            <form method="Post" action="/order_manage">
                                {% csrf_token %}
                                <input type="hidden" value="{{login}}" name="login">
                                <input type="hidden" value="{{item.Customer_Order_ID}}" name="order">
                                <input type="hidden" value="D" name="status">
                                <input type="submit" value="Detail" name="orderOperations">
                                <input type="submit" value="Confirm" name="orderOperations">
                                <input type="submit" value="Cancel" name="orderOperations">
                            </form>
                            </td>
                            {% endif %}
                            {% if item.Customer_Order_Status == 'C' %}
                            <td>Cancel</td>
                            <td>
                                <form method="Post" action="/order_manage">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{login}}" name="login">
                                    <input type="hidden" value="{{item.Customer_Order_ID}}" name="order">
                                    <input type="hidden" value="C" name="status">
                                    <input type="submit" value="Detail" name="orderOperations">
                                </form>
                            </td>
                            {% endif %}
                            {% if item.Customer_Order_Status == 'R' %}
                            <td>Running</td>
                            <td>
                                <form method="Post" action="/order_manage">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{login}}" name="login">
                                    <input type="hidden" value="{{item.Customer_Order_ID}}" name="order">
                                    <input type="hidden" value="R" name="status">
                                    <input type="submit" value="Detail" name="orderOperations">
                                    <input type="submit" value="Receive" name="orderOperations">
                                    <input type="submit" value="Cancel" name="orderOperations">
                                </form>
                            </td>
                            {% endif %}
                            {% if item.Customer_Order_Status == 'E' %}
                            <td>Exchange</td>
                            <td>
                                <form method="Post" action="/order_manage">
                                    {% csrf_token %}
                                   <input type="hidden" value="{{login}}" name="login">
                                   <input type="hidden" value="{{item.Customer_Order_ID}}" name="order">
                                    <input type="hidden" value="E" name="status">
                                   <input type="submit" value="Detail" name="orderOperations">
                                   <input type="submit" value="Receive" name="orderOperations">
                                   <input type="submit" value="Cancel" name="orderOperations">
                               </form>
                            </td>

                            {% endif %}
                            {% if item.Customer_Order_Status == 'B' %}
                            <td>Back</td>
                            <td>
                                <form method="Post" action="/order_manage">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{login}}" name="login">
                                    <input type="hidden" value="{{item.Customer_Order_ID}}" name="order">
                                    <input type="hidden" value="B" name="status">
                                    <input type="submit" value="Detail" name="orderOperations">
                                </form>
                            </td>
                            {% endif %}
                            <td>
                                {{ item.Customer_Order_Time }}
                            </td>
                    </tr>
                {% endfor %}
            </table>
        </center>
        {% endif %}
    {% else %}
        <center>
            <h3 style="color: red;">You need to login in order to find your order.</h3>
        </center>
    {% endif %}
</body>
<footer>
    <center>
        <div>
            <p style="font-size: 10px">&copy;2020 Nankai University.</p>
        </div>
    </center>
</footer>
</html>